@charset "utf-8";

.pwn-profile-widget-ninja-wrapper {
    background: #3a5795;
    overflow: hidden;
    border: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    -ms-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    -o-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
}
.pwn-profile-widget-ninja-wrapper .pwn-profile-widget-ninja-cover-pic {
    height: 200px;
    min-height: 200px;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
}
.pwn-profile-widget-ninja-wrapper .profile-avatar {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF;
    margin-bottom: 10px;
}
.pwn-profile-widget-ninja-avatar-round .profile-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.pwn-read-more {
    display: block;
}
.pwn-profile-widget-ninja-wrapper .pwn-container-bottom-wrapper {
    padding: 20px;
    color: #FFFFFF;
}
.pwn-profile-widget-ninja-wrapper .pwn-container-bottom-wrapper a {
    color: #55E6C6;
    border-bottom: 0;
}
.pwn-profile-widget-ninja-wrapper .pwn-container-bottom-wrapper h4 {
    margin: 0;
}
.pwn-profile-widget-ninja-wrapper .pwn-container-bottom-wrapper a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.pwn-profile-widget-ninja-layout-left {
    text-align: left;
}
.pwn-profile-widget-ninja-layout-center {
    text-align: center;
}
.pwn-profile-widget-ninja-layout-right {
    text-align: right;
}
.pwn-description-container {
    margin-top: 20px;
}
.pwn-container-social-links {
    text-align: center;
    padding: 18px;
    background-color: #29395A;
}
.pwn-container-social-links img {
    margin: 2px 4px 2px 0;
}
.pwn-profile-widget-ninja-wrapper .pwn-container-social-links a {
    border-bottom: 0;
}
.pwn-profile-widget-ninja-wrapper .pwn-container-social-links a img {
    display: inline;
}

/* Style 2 overrides*/
.pwn-layout-style-style2 .pwn-container-bottom-wrapper {
    color: #333333;
}
.pwn-layout-style-style2 .pwn-container-bottom-wrapper a {
    color: #BD081C;
}
.pwn-layout-style-style2 .pwn-container-bottom-wrapper a:hover {
    color: #8A8A8A;
    text-decoration: underline;
}
.pwn-layout-style-style2 .pwn-container-social-links {
    background-color: #F5F5F5;
}
.pwn-profile-widget-ninja-wrapper.pwn-layout-style-style2 {
    background: #ffffff;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
}

/* Style 3 overrides*/
.pwn-layout-style-style3 .pwn-container-bottom-wrapper {
    color: #292F33;
}
.pwn-layout-style-style3 .pwn-container-bottom-wrapper a {
    color: #2FC2EF;
}
.pwn-layout-style-style3 .pwn-container-bottom-wrapper a:hover {
    color: #8A8A8A;
    text-decoration: underline;
}
.pwn-layout-style-style3 .pwn-container-social-links {
    background-color: #E6E6E6;
}
.pwn-profile-widget-ninja-wrapper.pwn-layout-style-style3 {
    background: #F5F8FA;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

/* Style 4 overrides*/
.pwn-layout-style-style4 .pwn-container-bottom-wrapper {
    color: #FFFFFF;
}
.pwn-layout-style-style4 .pwn-container-bottom-wrapper a {
    color: #FFCACC;
}
.pwn-layout-style-style4 .pwn-container-bottom-wrapper a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.pwn-layout-style-style4 .pwn-container-social-links {
    background-color: #150F0F;
}
.pwn-profile-widget-ninja-wrapper.pwn-layout-style-style4 {
    /* fallback */
    background: #E62D34;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#94191E), to(#E62D34));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #E62D34, #94191E);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #E62D34, #94191E);
    /* IE 10 */
    background: -ms-linear-gradient(top, #E62D34, #94191E);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #E62D34, #94191E);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

/* Style 5 overrides*/
.pwn-layout-style-style5 .pwn-container-bottom-wrapper {
    color: #FFFFFF;
}
.pwn-layout-style-style5 .pwn-container-bottom-wrapper a {
    color: #FFFFFF;
}
.pwn-layout-style-style5 .pwn-container-bottom-wrapper a:hover {
    color: #000000;
    text-decoration: underline;
}
.pwn-layout-style-style5 .pwn-container-social-links {
    background-color: #150F0F;
}
.pwn-profile-widget-ninja-wrapper.pwn-layout-style-style5 {
    /* fallback */
    background: #53A92C;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#053C11), to(#53A92C));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #53A92C, #053C11);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #53A92C, #053C11);
    /* IE 10 */
    background: -ms-linear-gradient(top, #53A92C, #053C11);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #53A92C, #053C11);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
